@import "_var";
@import "home";
@import "about";
@import "template";
@import "footer";

.flex-just-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.them-font {
  font-family: "__nextjs-Geist Mono";
}

.fs-11 {
  font-size: 1.25rem;
}
